<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por region <small> {{regionActiva | titlecase}} </small> </h3>
  <hr>

  <h5>Seleccione la region</h5>
  <div class="row">
    <div class="col">
      <button *ngFor="let region of regiones" [class]="getClaseCSS(region)" (click)="activarRegion(region)">
        <!-- [class.btn-primary]="region === regionActiva" -->
        <!-- [ngClass]="{
        'btn-primary': regionActiva === region,
        'btn-outline-primary': regionActiva !== region
      }" -->
        <!-- [class]=" region === regionActiva ? 'btn btn-primary m-2' : 'btn btn-outline-primary m-2'" -->
        {{region | titlecase}}
      </button>
    </div>
  </div>

</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
